**/*.log
*.class
*.log
build/*

*/target/**
target/
bin/
*/.settings/**
*/.DS_Store
.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
